<div *ngIf="currentQuiz">
  <div class="center jumbotron">
    <p>
      <br /> Q. {{stage + 1}}. {{currentQuiz.text}}
    </p>
  </div>
  <h1 *ngIf="ans" class="center">
    {{ans}} %
    <label *ngIf="diff > 0" class="text-danger">
      (- {{diff}})
    </label>
  </h1>
  <form (submit)="submit(answer.value)" class="form-inline center">
    <div class="form-group form-group-lg">
      <div class="input-group">
        <input type="number" required #answer class="form-control" min=0 max=100 />
        <div class="input-group-addon">%</div>
      </div>
    </div>
    <button type="submit" *ngIf="!ans && !finishable" class="btn btn-primary btn-lg">Submit</button>
    <button *ngIf="ans && !finishable" class="btn btn-default btn-lg" (click)="next()">NEXT</button>
    <button *ngIf="finishable" class="btn btn-info btn-lg" (click)="finish()">Finish</button>
  </form>
</div>
<div class="box">
  <canvas #myCanvas id="myCanvas" width="800" height="400"></canvas>
</div>
